body {
    color:rgb(245, 241, 241);
    background-color: rgb(25, 108, 146);
    font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
    font-weight: bold;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: auto;
     text-decoration: none;
     text-align: center;
}
  
    /* assim e o comentario no css*/
button{
    /* Resetando margem e padding para garantir que não há espaçamento indesejado */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* Impede que margens e preenchimentos afetem o layout */
}
   padding: 40px 100px;
  font-size: 20px;
  background-color: #d85f0e;
  color: rgb(238, 242, 243);
  border: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;  /* Apenas margem controlada entre os botões */
  display: inline-block;

}