
body {
      color:rgb(245, 241, 241);
    background-color: rgb(25, 108, 146);
    font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
    font-weight: bold;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: auto;
     text-decoration: none;
     text-align: center;
}

.item {
   color:rgb(95, 167, 201);
    
    font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
    font-weight: bold;
  align-items: left;
  gap: 25px;
  
}
.item p {
   color: rgb(14, 66, 90);
   font-size: 20px;
   font-weight: bold;
   text-align: left;
  }