body {
    color:rgb(9, 94, 143);
     background: linear-gradient(to bottom, #473806, #ebdc55);
    font-family: Arial, Helvetica, sans-serif;
}
.item {
  display: flex;
  align-items: center;
  gap: 25px;
}

.item img {
  width: 200px; /* ou o tamanho desejado */
  height: auto;
  border: 5px solid rgb(250, 249, 244);
}

.item p {
  margin: 40px;
  font-size: 26px;
}

/*.................................mobile..................................*/
@media screen and (max-width: 780px) {
  body {
    background-color: rgb(16, 160, 185);
    font-size: 1rem;
  }

  .item img {
    width: 200px; /* ajuste para telas menores */
  }

  .item p {
    font-size: 1.2rem; /* ajuste para telas menores */
    margin: 20px;
  }
}