body {
    color:rgb(13, 112, 129);
    background-color: rgb(155, 192, 133);
    font-family: Arial, Helvetica, sans-serif;
}
.audio {
    display: flex;
  flex-direction: column;
  gap: 26px;
   /* assim e o comentario no css*/
  margin-top: 20px;
  
   
}
.audio p {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
   margin-right: auto;
    margin-left: 420px; 
     margin-top: 0px;
    margin-bottom: auto;
}
  h1{
    display: block;
    color: rgb(66, 129, 29); /*.........ARTS.........*/
    font-size: 60px;
    margin-right: auto;
    margin-left: 620px; 
     margin-top: 20px;
    margin-bottom: 0px;
   
}